@charset "utf-8";
/*BASE*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{padding:0;margin:0 auto;list-style-type:none;font-weight:normal;}
body{background:#fff;font-size:16px; padding: 100px 0 0 0; font-family:"MicrosoftYaHei",微软雅黑,Arial,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;color:#333;line-height:35px;}
a{color:#333;text-decoration:none; blr:expression(this.onFocus=this.blur());outline:none;}
a:hover{color:#043b74;text-decoration:none;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;box-sizing:border-box; color: #000;}
img{border:none;}
.clear{height:0px;line-height:0;overflow:hidden;clear:both;font-size:0px;}
.clearfix::after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{}
.left{float:left;}
.right{float:right;}
.auhd{zoom:1; overflow: auto;}
.sea{display: none;}
/*FONT*/
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.lh20{line-height:20px;}
.lh25{line-height:25px;}
.lh30{line-height:30px;}
.lh35{line-height:35px;}
.lh40{line-height:40px;}
.lh45{line-height:45px;}
.lh50{line-height:50px;}
.lh55{line-height:55px;}
.lh60{line-height:60px;}
.lh80{line-height:80px;}
.lh150{line-height:150%;}
.lh180{line-height:180%;}
.lh200{line-height:200%;}
.fc_white{color:#fff;}
.fc_black{color:#000;}
.fc_gray3{color:#333;}
.fc_gray5{color:#555;}
.fc_gray7{color:#777;}
.fc_gray9{color:#999;}
.fc_grayb{color:#bbb;}
.fc_grayc{color:#ccc;}
.fc_orange{color:#f60;}
.fc_green{color:#093;}
.fc_red{color:#ff0013;}
.fc_blue{color:#006cbf;}
.fc_blued{color:#043b74;}
/*POSITION*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.dpl{display:inline;}
.dpb{display:block;}
*html.clearfix{height:1%;}
.vm{vertical-align:center;}
.pr{position:relative;}
.pa{position:absolute;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}
.ovhd{overflow:hidden;}
/*W%H*/
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w150{width:150px;}
.w200{width:200px;}
.w280{width:280px;}
.w300{width:300px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
.w550{width:550px;}
.w600{width:600px;}
.w698{width:698px;}
.w700{width:700px;}
.w800{width:800px;}
.w900{width:900px;}
.w1000{width:1000px;}
.w1200{width:1200px;}
.w1250{width:1250px;}
.w1300{width:1300px;}
.w1400{width:1400px;}
.w{width:100%;}
.h10{height:10px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h60{height:60px;}
.h80{height:80px;}
.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h300{height:300px;}
.h400{height:400px;}
.h{height:100%}
/*MR*/
.m0{margin:0 auto;}
.mla{margin-left:auto;}
.mra{margin-right:auto;}
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt50{margin-top:50px;}
.mt80{margin-top:80px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml70{margin-left:70px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr47{margin-right:47px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.p5{padding:5px}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt70{padding-top:70px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl90{padding-left:90px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}
/*background*/
.bgc_white{background:#fff;}
.bgc_black{background:#000;}
.bgc_gray2{background:#222;}
.bgc_gray3{background:#333;}
.bgc_gray5{background:#555;}
.bgc_gray7{background:#777;}
.bgc_gray9{background:#999;}
.bgc_grayb{background:#bbb;}
.bgc_grayc{background:#ccc;}
.bgc_grayf2{background:#f2f2f2;}
.bgc_grayf5{background:#f5f5f5;}
.bgc_grayf8{background:#f8f8f8;}
.bgc_orange{background:#f60;}
.bgc_green{background:#093;}
.bgc_red{background:#d90000;}
.bgc_blue{background:#014693;}